{% extends "base.html" %}

{% block content %}

<h2>Search Results</h2>

{% if query %}
<p>Results for "<b>{{ query }}</b>"</p>
{% endif %}

<hr>

<h3>Users</h3>

{% for user in users %}
<p>
<a href="/profile/{{ user.id }}/">
{{ user.username }}
</a>
</p>
{% empty %}
<p>No users found</p>
{% endfor %}

<hr>

<h3>Posts</h3>

{% for post in posts %}
<div style="margin-bottom:20px;">
<p><b>{{ post.user.username }}</b></p>
<img src="{{ post.image.url }}" style="width:300px; border-radius:10px;">
<p>{{ post.caption }}</p>
</div>
{% empty %}
<p>No posts found</p>
{% endfor %}

{% endblock %}